{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <form style="width: 60%; margin: 50px auto;" method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div>
                Vous êtes connecté {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Quitter</a>
            </div>
        {% endif %}


        <h1 style="text-align: center">Connexion</h1>
        <div style="margin: auto; width: 45%; display: flex; flex-direction: column; gap: 20px;">
<div style="display: flex; gap: 10px; justify-content: space-between;">
            <label for="inputEmail">Email</label>
            <input style="width: 60%;" type="email" value="{{ last_username }}" name="email" id="inputEmail"
                   class="form-control" autocomplete="email" required autofocus>
</div>

            <div style="display: flex; gap: 10px; justify-content: space-between;">
            <label for="inputPassword">Mot de passe</label>
            <input style="width: 60%;" type="password" name="password" id="inputPassword" class="form-control"
                   autocomplete="current-password" required>
            </div>
            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            <button style="width: 20%; margin: auto;" type="submit">
                Valider
            </button>
        </div>
    </form>
{% endblock %}
