{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <form style="width: 60%; margin: 50px auto;" method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div>
                Vous êtes connecté {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Quitter</a>
            </div>
        {% endif %}


        <h1 style="text-align: center; margin: 200px 0 40px 0;">Connexion</h1>
        <div style="margin: auto; width: 45%; display: flex; flex-direction: column; gap: 20px;">
            <div style="display: flex; gap: 10px; justify-content: center;">
                {#            <label for="inputEmail">Email</label> #}
                <input placeholder="Email" style="width: 60%; height: 30px; padding-left: 10px;
border-radius: 50px; border-style: solid;" type="email" value="{{ last_username }}" name="email" id="inputEmail"
                       class="form-control" autocomplete="email" required autofocus>
            </div>

            <div style="display: flex; gap: 10px; justify-content: center;">
                {#            <label for="inputPassword">Mot de passe</label> #}
                <input style="width: 60%; height: 30px; padding-left: 10px;
border-radius: 50px; border-style: solid;" placeholder="Mot de passe" type="password" name="password" id="inputPassword"
                       class="form-control"
                       autocomplete="current-password" required>
            </div>
            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            <button style="margin: auto; background-color: #FFC107; padding: 5px 30px; border-radius: 50px" type="submit">
                Valider
            </button>
        </div>
    </form>
{% endblock %}
