{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div id="pageregister" style="width: 60%; margin: 50px auto;">

        <h1 style="text-align: center; margin-bottom: 50px">Inscription</h1>
        {#        <div class="test" style="margin: auto; width: 30%; display: flex; flex-direction: column; gap: 20px;"> #}
        {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm) }}

        {{ form_row(registrationForm.email) }}

        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.nom) }}

        {{ form_row(registrationForm.prenom) }}

        {{ form_row(registrationForm.agreeTerms) }}
        <div style="justify-content: flex-end; gap: 20px;">
            <a href={{ path('app_login') }}> Déjà inscrit ? </a>
            <button type="submit" class="btn">Valider</button>
        </div>
        {{ form_end(registrationForm) }}
    </div>

    </div>



{% endblock %}
